.subscribe{
	height: 23px;
	padding: 0 15px;
	float: right;
}
.custom-line{
	width: 100%;
	border-bottom: 1px #E5E5E5 solid;
	margin-top: 5px;
	margin-bottom: 5px;
}
.mui-table-view{
 background-color:transparent
}
.mui-table-view-cell{
	margin-bottom: 10px;
	background-color: white;
	position: relative;
}
.mui-table-view-cell:after{
	height: 0;
}
.mui-table-view-cell>.mui-badge, .mui-table-view-cell>.mui-btn, .mui-table-view-cell>.mui-switch, 
.mui-table-view-cell>a>.mui-badge, .mui-table-view-cell>a>.mui-btn, .mui-table-view-cell>a>.mui-switch{
	top: 21px;
}

.left-tea{
	overflow: hidden;
	width: 100%;
	border-radius: 50%;
}
.left-tea img{
	width: 100%;
	height: 100%;
}
/*遮罩层*/
.mui-popover-arrow.mui-bottom{
	display: none;
}
#popover{
	top: 0!important;
}
.mui-popover{
	width: 100%;
}
.white-line{
	width: 2px;
	height: 150px;
	background-color: white;
	position: fixed;
	top: 0;
	left: 51%;
	margin-left: -1px;
	z-index: 2;
}
.white-con{
	width: 86%;
	background-color: white;
	position: fixed;
	top: 130px;
	left: 50%;
	margin-left: -42%;
	z-index: 1;
	border-radius: 10px;
	padding: 5px 10px 20px 10px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.center-black-d{
	width: 20px;
	height: 20px;
	margin: 0 auto;
	border-radius: 50%;
	background-color: #646464;
}
#close-img{
	height: 15px;
	position: absolute;
	right: 10px;
	top: 10px;
}
.white-con ul{
	margin-top: 20px;
}
.white-con ul li:first-child{
	margin-bottom: 15px;
}
.white-con ul li b{
	color: red;
	vertical-align: middle;
}
.white-con ul li input{
	width: 100%;
	display: block;
	background-color: #E5E5E5;
	font-family: "微软雅黑"
	border: 1px #EEEEEE solid;
}
.white-con p{
	color: red;
}
.white-con button{
	width: 100%;
	background-color: #0abd61;
}
