.top-font{
	width: 90%;
	margin: 0 auto;
	padding-top: 20px;
}
.two-w-word{
	width: 90%;
	margin: 0 auto;
	background-color: white;
	border-radius: 8px;
	padding: 15px 20px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	margin-top: 10px;
}
.t-h-o img{
	/*vertical-align: middle;*/
}
.two-w-word h4{
	font-size: 0.8em;
	font-weight: normal;
}
/*文字模糊*/
.two-w-word h4.tranp{
	color: transparent;
	text-shadow: 0px 0px 8px black;
}

.mui-backdrop{
	display: none;
	text-align: center;
}
.mui-backdrop img{
	width: 60%;
}
.mui-backdrop button{
	width: 80%;
	margin-top: 10%;
}
.in-div{
	position: absolute;
	top: 50%;
	margin-top: -50%;
}

.listenMaterial{
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
    background-color: white;
     padding: 5px 10px 20px 10px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-radius: 5px;
    position: relative;
}

/*播放器css*/
.out-grey {
	width: 100%;
	height: 35px;
	background-color: #EEEEEE;
	border: 1px #FFFFFF solid;
	border-radius: 8px;
	margin-top: 20px;
	position: relative;
}

.l-play {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	box-shadow: 0 0 10px #999999;
	position: absolute;
	left: 0;
	top: -4px;
	background: url('../../images/myimages/spoken7@2x.png') no-repeat;
	background-size: 100% 100%
}

#jp_container_1.jp-state-playing .l-play {
	background: url('../../images/myimages/spoken7@22x.png') no-repeat;
	background-size: 100% 100%;
}

.center-progress {
	width: 65%;
	height: 6px;
	position: absolute;
	top: 5px;
	left: 50px;
	border-radius: 10px;
}

.progress_box {
	width: 100%;
	height: 6px;
	background: #CCCCCC;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 10px;
	margin-top: 8px;
}

.progress_bgOut {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
}

.progress_bg {
	width: 50%;
	height: 100%;
	background: #33cc66;
	position: absolute;
	left: 0;
	top: 0;
	border-radius: 10px;
}

.progress_move {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: white;
	position: absolute;
	right: -10px;
	top: -2px;
}

.right-span {
	width: 16%;
	text-align: center;
	color: #33CC66;
	font-size: 0.8em;
	position: absolute;
	right: 0;
	top: 5px;
}

/*播放器css end*/