.core-con{
	width: 90%;
	margin: 0 auto;
	margin-top: 20px;
}
.core-con h2{
	font-weight: normal;
	font-size: 1em;
	color: #474747;
}
.w-m-word{
	width: 100%;
	background-color: white;
	margin-top: 15px;
}
.word-box{
	width: 100%;
	padding: 50px 0;
	text-align: center;
}
.word-box h4{
	font-weight: normal;
	font-size: 30px;
	margin-bottom: 10px;
}
.word-box span{
	color: #6a6a6a;
}
.word-box img{
	vertical-align: middle;
	margin-left: 5px;
}
.meaning{
	width: 100%;
	padding: 20px 20px 0 20px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border-top:1px #eeeeee solid
}
.meaning h4{
	font-weight: normal;
	color: #d16831;
}
.meaning img{
	height: 15px!important;
}
.mui-media-body{
	font-size: 0.8em;
	white-space: normal;
}
.mui-ellipsis{
	white-space: normal;
}
.out-box{
	display: inline-block;
	 /*float:left;
	 position:relative;
	 left:50%;*/
}
.out-box img,.out-box span{
	 /*position:relative;
	 right:50%;*/
}

.mui-backdrop{
	display: none;
	text-align: center;
}
.mui-backdrop img{
	width: 60%;
}
.mui-backdrop button{
	width: 80%;
	margin-top: 10%;
}
.in-div{
	position: absolute;
	top: 50%;
	margin-top: -50%;
}
