.core-con{
	width: 90%;
	margin: 0 auto;
	margin-top: 20px;
}
.core-con h2{
	font-weight: normal;
	font-size: 1em;
	color: #474747;
}
.w-m-word{
	width: 100%;
	background-color: white;
	margin-top: 15px;
}
.word-box{
	width: 100%;
	padding: 50px 0;
	text-align: center;
}
.word-box h4{
	font-weight: normal;
	font-size: 30px;
	margin-bottom: 10px;
}
.word-box span{
	color: #6a6a6a;
}
.word-box img{
	vertical-align: middle;
	margin-left: 5px;
}
.choose-ul{
	width: 100%;
}
.choose-ul ul li{
	padding: 20px 0 20px 15px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	color: #666666;
	border-top: 1px #e5e5e5 solid;
}
.choose-ul ul li.green{
	color: green;
}
.choose-ul ul li.red{
	color: red;
}
.out-box{
	 float:left;
	 position:relative;
	 left:50%;
}
.out-box img,.out-box span{
	 position:relative;
	 right:50%;
}

