header{
	border-bottom: none!important;
}
.slideBd{
	background-color: white;
}
.slideBd ul li{
	width: 33.3%;
	float: left;
	text-align: center;
	padding: 10px 0 5px 0;
}
.slideBd ul li a{
	color: #333333;
}
.slideBd ul li.on{
	border-bottom: 2px #FF6600 solid;
}
.slideBd ul li.on a{
	color: #FF6600;
}
.mui-media-body{
	width: 90%;
}
.mui-table-view-cell{
	position: relative;
}
.mui-table-view-cell a.rj{
	display: block;
	position: absolute;
	top: 25px;;
	right: 10px;
}
.mui-table-view-cell a.rj img{
	height: 18px;
}
.mui-media-object{
	width: 100%;
	color: #FF6600;
	text-align: center;
	text-align: center;
	border-radius: 50%;
	border: 1px #FF6600 solid;
}
.title-grey{
	width: 100%;
	padding: 12px 0 8px 0;
	background-color: #CCCCCC;
	color: #666666;
	padding-left: 5%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
