<!doctype html>
<html ng-app="myApp">>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="css/mui.min.css" rel="stylesheet" />
		<link href="css/mycss/public.css" rel="stylesheet" />
		<link href="css/mycss/course-class-detail.css" rel="stylesheet" />
	</head>

	<body ng-controller="PriceCtrl">
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left orangeColor"></a>
			<h1 class="mui-title">{{name}}</h1>
		</header>
		<nav class="mui-bar mui-bar-tab bg-nowhite">
			<a href="#popover" id="openPopover"><button type="button" class="mui-btn mui-btn-warning orangeBg">预约课程</button></a>
		</nav>
		<div id="popover" class="mui-popover">
			<div class="white-line"></div>
			<div class="white-con">
				<div class="center-black-d"></div>
				<img src="images/myimages/Course37@2x.png" alt="关闭图标" id="close-img" />
				<ul>
					<li>
						<span>
		        			<b>*</b>
		        			请输入您的姓名：
		        		</span>
						<input type="text" placeholder="请填写" id="stuName"/>
					</li>
					<li>
						<span>
		        			<b>*</b>
		        			请输入您的电话：
		        		</span>
						<input type="text" placeholder="请填写" id="stuPhone"/>
					</li>
				</ul>
				<p>我们将会在一个工作日内与您取得联系哦~</p>
				<button type="button" class="mui-btn mui-btn-success" id="sureTiJiao">确认提交</button>
			</div>
		</div>
		<div class="mui-content">
			<div class="mui-row cou-c-t">
				<div class="mui-col-sm-4 mui-col-xs-4">
					<div class="tea-img">
						<img src="http://www.toeflonline.cn/{{image}}" alt="图片" />
					</div>
				</div>
				<div class="mui-col-sm-8 mui-col-xs-8">
					<h2>{{name}}</h2>
					<ul>
						<li class="mui-ellipsis" ng-repeat="performanceT in performance">{{performanceT}}</li>

					</ul>
				</div>
				<div class="mui-clearfix"></div>
			</div>
			<div class="cou-c-c">
				<div class="grey-title">个人简介</div>
				<div class="jian-con">
					<p>
						{{description}}
					</p>
				</div>
			</div>
			<div class="cou-c-b">
				<div class="grey-title">主讲课程</div>
				<div class="mui-row zhujiang-con">
					<div class="mui-col-sm-6 mui-col-xs-6" ng-repeat="speakT in speak">
						<div class="orange-piece mui-ellipsis"> {{speakT}}</div>
					</div>

					<div class="mui-clearfix"></div>
				</div>
			</div>
		</div>

		<script src="js/mui.min.js"></script>
		<script src="js/myjs/jquery-1.11.1.min.js"></script>
		<script src="js/myjs/public.js"></script>
		<script src="js/myjs/course-class-detail.js"></script>
		<script src="js/myjs/angular1.3.1.js"></script>
	</body>

</html>