<!doctype html>
<html ng-app="myApp">

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="css/mui.min.css" rel="stylesheet" />
		<link href="css/mycss/bottomNav.css" rel="stylesheet" />
		<link href="css/mycss/public.css" rel="stylesheet" />
		<link href="css/mycss/emojione.min.css" rel="stylesheet" />
		<link href="css/mycss/encyclopedia-bbs.css" rel="stylesheet" />
	</head>

	<body ng-controller="PriceCtrl">

		<!-- 主界面不动、菜单移动 -->
		<!-- 侧滑导航根容器 -->
		<div class="mui-off-canvas-wrap mui-draggable mui-slide-in">
			<!-- 菜单容器 -->
			<!--  <aside class="mui-off-canvas-left" id="offCanvasSide">
    <div class="mui-scroll-wrapper">
      <div class="mui-scroll">
        <!-- 菜单具体展示内容 
		<ul class="mui-table-view mui-self-ul">
		    <li class="mui-table-view-cell">Home</li>
		    <li class="mui-table-view-cell">high-heeled shoes</li>
		    <li class="mui-table-view-cell">wedding dress</li>
		    <li class="mui-table-view-cell">car</li>
		    <li class="mui-table-view-cell">work</li>
		</ul>
      </div>
    </div>
  </aside>-->
			<!-- 主页面容器 -->
			<div class="mui-inner-wrap">

				<!-- 主页面标题 -->
				<header id="header" class="mui-bar mui-bar-nav">
					<h1 class="mui-title mui-row">
						<div class="mui-col-sm-2 mui-col-xs-2"></div>
						<div class="mui-col-sm-4 mui-col-xs-4" id="tuijian">
							<span>推荐</span> 
						</div>
						<div class="mui-col-sm-4 mui-col-xs-4">
							<span class="on">社区</span>
						</div>
						<div class="mui-col-sm-2 mui-col-xs-2"></div>
						<div class="mui-clearfix"></div>
					</h1>
					<a href="javascript:void(0);" class="mui-pull-right" id="edit-post"><img src="images/myimages/Toeflbi@2x.png" /></a>
				</header>
				<nav class="mui-bar mui-bar-tab">
					<a class="mui-tab-item" id="fixed-1">
						<span class="bgCom bg01"></span>
						<span class="mui-tab-label">做题练习</span>
					</a>
					<!--<a class="mui-tab-item">
	        <span class="bgCom bg03"></span>
	        <span class="mui-tab-label">模考</span>
	    </a>-->
					<a class="mui-tab-item" id="fixed-2">
						<span class="bgCom bg02"></span>
						<span class="mui-tab-label">在线课程</span>
					</a>
					<a class="mui-tab-item mui-active" id="fixed-3">
						<span class="bgCom bg03"></span>
						<span class="mui-tab-label">托福圈</span>
					</a>
					<a class="mui-tab-item" id="fixed-4">
						<span class="bgCom bg04"></span>
						<span class="mui-tab-label">个人中心</span>
					</a>
				</nav>
				<!--评论框-->
				<div class="replyInput">
					<input type="text" placeholder="评论" />
				</div>

				<div class="mui-content mui-scroll-wrapper">
					<div class="mui-scroll" id="bbs-poster">
						<!-- 主界面具体展示内容 -->
						<div class="bbs-li" ng-repeat="items1T in items1" is-over="toggle.now">
							<div class="haveClickDetails" data-tieziId="{{items1T.id}}" data-publisherUid="{{items1T.uid}}">
								<ul class="mui-table-view">
									<li class="mui-table-view-cell mui-media">
										<a href="javascript:void(0);">
											<div class="mui-media-object mui-pull-left user-img">
												<img src="http://www.toeflonline.cn{{items1T.icon | defaultImg}}" alt="用户头像" />
											</div>
											<div class="mui-media-body">
												{{items1T.publisher}}
												<p class='mui-ellipsis'>{{(items1T.createTime)*1000 | date:'yyyy-MM-dd HH:mm:ss'}}</p>
											</div>
										</a>
									</li>
								</ul>
								<div class="bbs-content">
									<h4 class="mui-ellipsis" ng-bind-html="items1T.title"><!--{{items1T.title}}--></h4>
									<p class="mui-ellipsis-3" ng-bind-html="items1T.content">
										<!--{{items1T.content}}-->
									</p>
								</div>
							</div>
							<!--上传的图片展示-->
							<div class="img-show">
								<ul>
									<li ng-repeat="imagesT in items1T.image">
										<img src="http://gossip.gmatonline.cn{{imagesT}}" alt="上传的图片" />
									</li>
								</ul>
								<div class="mui-clearfix"></div>
							</div>
							<div class="zan-pl">
								<p class="praise-p" data-tieziId="{{items1T.id}}" ng-class="{'on':'{{items1T.likeId}}'=='true'}">{{items1T.likeNum}}</p>
								<p class="review-p" data-tieziId="{{items1T.id}}" data-publisherUid="{{items1T.uid}}">{{items1T.count}}</p>
							</div>
							<div class="mui-clearfix"></div>
							<div class="reviewShow">
								<ul>
									<li class="mui-ellipsis-2" ng-repeat="replyT in items1T.reply" ng-show="$index<4">
										<span class="blue">{{replyT.uName | nullName }}</span>
										<span class="grey" ng-show="replyT.replyUserName!=''">回复</span>
										<span class="blue" ng-show="replyT.replyUserName!=''">{{replyT.replyUserName}}</span>
										<span class="grey">:</span>
										<span class="grey" ng-bind-html="replyT.content"></span>
									</li>
									<li><span class="seeAll-reply blue" ng-show="items1T.count>4" data-tieziId="{{items1T.id}}" data-publisherUid="{{items1T.uid}}">查看全部评论…</span></li>
								</ul>
							</div>

						</div>
						<!--bbs-li end-->

					</div>
					<!--mui-scroll-->
				</div>
				<!--<div class="mui-off-canvas-backdrop"></div>-->
			</div>
		</div>
		<!--查看大图遮罩层-->
		<div id="popover" class="mui-popover">
			<div class="imgBox">
				<img src="images/cbd.jpg" alt="查看大图" />
				<div class="close-icon mui-icon mui-icon-close"></div>
			</div>
		</div>
	</body>
	<script src="js/mui.min.js"></script>
	<script src="js/myjs/jquery-1.11.1.min.js"></script>
	<script src="js/myjs/public.js"></script>
	<script src="js/myjs/emojione.js"></script>
	<script src="js/myjs/encyclopedia-bbs.js"></script>
	<script src="js/myjs/angular1.3.1.js"></script>

</html>