<!doctype html>
<html ng-app="myApp">

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="css/mui.min.css" rel="stylesheet" />
		<link href="css/mycss/bottomNav.css" rel="stylesheet" />
		<link href="css/mycss/public.css" rel="stylesheet" />
		<link href="css/mycss/emojione.min.css" rel="stylesheet" />
		<link href="css/mycss/encyclopedia-bbs.css" rel="stylesheet" />
	</head>

	<body ng-controller="PriceCtrl">

		<!-- 主页面标题 -->
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left orangeColor"></a>
			<h1 class="mui-title">文章详情</h1>
		</header>

		<nav class="mui-bar mui-bar-tab" style="background-color: #E5E5E5;" id="mySay">
			<div class="replyIShow mui-row">
				<div class="mui-col-sm-2 mui-col-xs-2">
					<img src="http://www.toeflonline.cn{{photo | defaultImg}}" alt="用户头像" />
				</div>
				<div class="mui-col-sm-10 mui-col-xs-10">
					<input type="text" placeholder="我也说一句" id="show-input" />
				</div>
				<div class="mui-clearfix"></div>

			</div>
		</nav>
		<!--评论框-->
		<div class="replyInput mui-row">
			<div class="mui-col-sm-9 mui-col-xs-9">
				<input type="text" placeholder="评论" id="content" />
			</div>
			<div class="mui-col-sm-2 mui-col-xs-2">
				<button type="button" class="mui-btn mui-btn-success" id="sendBtn">发送</button>
			</div>
			<div class="mui-clearfix"></div>
		</div>

		<div class="mui-content mui-scroll-wrapper">
			<div class="mui-scroll">
				<!-- 主界面具体展示内容 -->
				<div class="bbs-li">
					<ul class="mui-table-view">
						<li class="mui-table-view-cell mui-media">
							<a href="javascript:void(0);">
								<div class="mui-media-object mui-pull-left user-img">
									<img src="http://www.toeflonline.cn{{data.icon | defaultImg}}">
								</div>
								<div class="mui-media-body">
									{{data.publisher}}
									<p class='mui-ellipsis'>{{data.createTime*1000 | date:'yyyy-MM-dd HH:mm:ss'}}</p>
								</div>
							</a>
						</li>
					</ul>
					<div class="bbs-content">
						<h4 ng-bind-html="title"></h4>
						<p ng-bind-html="content"></p>
						<ul>
							<li ng-repeat="item in data.image">
								<img src="http://gossip.gmatonline.cn/{{item}}" alt="上传的图片" />
							</li>

						</ul>
						<div class="mui-clearfix"></div>
						<div class="zan-pl">
							<p class="praise-p" ng-class="{'on':'{{data.likeId}}'}" data-tieziId="{{data.id}}">{{data.likeNum}}</p>
							<p class="review-p" data-tieziId="{{data.id}}" data-publisherUid="{{data.uid}}">{{count}}</p>
						</div>
						<div class="mui-clearfix"></div>
					</div>
					<div class="line-grey"></div>
					<div class="reviewShow rev-detail">
						<ul>
							<li ng-repeat="item2 in data.reply" data-bid="{{item2.uid}}" data-bname="{{item2.uName}}" data-tieziId="{{data.id}}" data-type="2">
								<div class="mui-row">
									<div class="l-i-user mui-col-sm-3 mui-col-xs-3">
										<img src="http://www.toeflonline.cn{{item2.userImage | defaultImg}}" alt="用户头像" />
									</div>
									<div class="r-i-info mui-col-sm-9 mui-col-xs-9">
										<span class="blue">{{item2.uName}}</span>
										<span class="grey" ng-show="item2.replyUserName!=''">回复</span>
										<span class="blue" ng-show="item2.replyUserName!=''">{{item2.replyUserName}}</span>
										<span class="grey">:</span>
										<span class="grey" ng-bind-html="item2.content"></span>
										<input type="hidden" id="Bid" value="{{item2.uid}}">
										<input type="hidden" id="Bname" value="{{item2.uName}}">
										<p>{{item2.createTime*1000 | date:'yyyy-MM-dd HH:mm:ss'}}</p>
									</div>
									<div class="mui-clearfix"></div>
								</div>
							</li>
						</ul>
					</div>

				</div>

			</div>
			<!--mui-scroll-->
		</div>
		<!--查看大图遮罩层-->
		<div id="popover" class="mui-popover">
			<div class="imgBox">
				<img src="images/cbd.jpg" alt="查看大图" />
				<div class="close-icon mui-icon mui-icon-close"></div>
			</div>
		</div>
		<script src="js/mui.min.js"></script>
		<script src="js/myjs/jquery-1.11.1.min.js"></script>
		<script src="js/myjs/public.js"></script>
		<script src="js/myjs/emojione.js"></script>
		<script src="js/myjs/encyclopedia-bbs-details.js"></script>
		<script src="js/myjs/angular1.3.1.js"></script>
	</body>

</html>