<!doctype html>
<html ng-app="myApp">

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="css/mui.min.css" rel="stylesheet" />
		<link href="css/mycss/public.css" rel="stylesheet" />
		<link href="css/mycss/hearing-pra-test.css" rel="stylesheet" />
	</head>

	<body ng-controller="PriceCtrl">
		<input type="hidden" value="{{pid}}" id="pid" />
		<input type="hidden" value="{{contentId}}" id="contentId" />
		<input type="hidden" value="{{questType}}" id="questType" />
		<input type="hidden" id="time" value="0" />
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left orangeColor"></a>
			<h1 class="mui-title">听力练习({{over}}/{{totalNum}})</h1>
		</header>
		<nav class="mui-bar mui-bar-tab bg-nowhite">
			<!--题做完之后跳转答案解析链接-->
			<!--<a href="hearing-answerKeys.html"></a>-->
			<button type="button" class="mui-btn mui-btn-warning orangeBg" id="next">下一题</button>
		</nav>
		<div class="mui-content">
			<!--------------------------------单选、多选------------------------------->
			<div class="mui-card">
				<!--页眉，放置标题-->
				<div class="mui-card-header">{{name}}
					<!--播放图标-->
					<div id="jquery_jplayer_1" class="jp-jplayer"></div>
					<div id="jp_container_1" class="jp-audio" style="display: none;">
						<img src="images/myimages/ExerciseToday14@2x.png" class="jp-play" />
					</div>
				</div>
				<!--内容区-->
				<div class="mui-card-content">
					<ul class="mui-table-view">
						<li class="mui-table-view-cell mui-media" ng-repeat="arrSelectT in arrSelect">
							<!--<a href="javascript:;">-->
							<div class="mui-media-object mui-pull-left">{{$index | optionsAll}}</div>
							<div class="mui-media-body">
								{{arrSelectT}}
							</div>
							<!--</a>-->
						</li>

					</ul>
				</div>

			</div>
			  <!----------------------第三种拖拽题型---------------------------->
    
                    <div class="three_tragT">
                    	<div>{{name}}</div>
                    	<div class="gridly">
                    		<div class="brick small" ng-repeat="arrSelectT in arrSelect"> {{arrSelectT}}</div>
                        <p>正确答案：{{answer}}</p>
                    	</div>
                        
                    </div>
                    <!----------------------第四种表格题型---------------------------->
                    <div class="table-box">
                    	<div>{{name}}</div>
                        <table>
                            <tr>
                                <th>
                                    <b>Question</b>
                                    <em>Name</em>
                                    <div class="out">
                                    </div>
                                </th>
                                <th>{{nameOne}}</th>
                                <th>{{nameTwo}}</th>
                            </tr>
                            <tr ng-repeat="arrSelect1T in arrSelect1" ng-if="$index>0">
                                <td>{{arrSelect1T}}</td>
                                <td>
                                    <div class="group_rad">
                                        <input type="radio" name="rad{{$index}}" id="rad0{{$index}}" data-tabAn="A"/>
                                        <label for="rad0{{$index}}"></label>
                                    </div>
                                </td>
                                <td>
                                    <div class="group_rad">
                                        <input type="radio" name="rad{{$index}}" id="rad0{{$index}}r" data-tabAn="B"/>
                                        <label for="rad0{{$index}}r"></label>
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <div class="answer_tab">
                            <span class="tab-user"></span>
                            <span class="tab-true">正确答案：<span>{{answer}}</span></span>
                        </div>
                    </div>
			
			
		</div>

		<script src="js/mui.min.js"></script>
		<script src="js/myjs/jquery-1.11.1.min.js"></script>
		<script src="js/myjs/jquery.jplayer.min.js"></script>
		<script src="js/myjs/jquery.gridly.js"></script>
		<script src="js/myjs/public.js"></script>
		<script src="js/myjs/hearing-pra-test.js"></script>
		<script src="js/myjs/angular1.3.1.js"></script>
	</body>

</html>