<!doctype html>
<html ng-app="myApp">

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="css/mui.min.css" rel="stylesheet" />
		<link href="css/mycss/public.css" rel="stylesheet" />
		<link href="css/mycss/hearing-answerKeys.css" rel="stylesheet" />
	</head>

	<body ng-controller="PriceCtrl">

		<header class="mui-bar mui-bar-nav">
			<a href="hearing.html" class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left orangeColor"></a>
			<h1 class="mui-title">答案解析</h1>
		</header>
		<div class="mui-content">
			<div class="top-audio">
				<h2>{{name}}
               	<a href="javascript:void(0);" id="jingListen">精听本文</a></h2>
				<div id="jquery_jplayer_1" class="jp-jplayer"></div>
				<div id="jp_container_1" class="jp-audio" role="application" aria-label="media player">
					<div class="out-grey">
						<div class="l-play jp-play"></div>
						<div class="center-progress">
							<div class="progress_box jp-progress">
								<div class="progress_bgOut jp-seek-bar">
									<div class="progress_bg jp-play-bar">
										<div class="progress_move"></div>
									</div>
								</div>
							</div>
						</div>
						<div class="right-span">
							<span class="jp-duration" role="timer" aria-label="duration">00:00</span>
						</div>
					</div>
				</div>
				<h4>本次做题结果 {{trueLen}}/{{timuTotal}}
				<a href="javascript:void(0);" id="reTest">再做一次</a></h4>
			</div>
			<div class="line-x"></div>
			<div class="option-answer">
				<div>
					<div id="segmentedControl" class="mui-segmented-control mui-segmented-control-inverted mui-segmented-control-primary">
						<a class="mui-control-item" href="#item{{$index}}" ng-repeat="questionT in question" is-over="toggle.now">
							<span class="bor" ng-class="{'bor-red':'{{questionT.answer}}'!='{{questionT.userAnswer}}'
								,'bor-green':'{{questionT.answer}}'=='{{questionT.userAnswer}}'}">{{$index+1}}<b></b></span>
						</a>
					
					</div>
				</div>
				<div>
					<div id="item{{$index}}" class="mui-control-content" ng-repeat="questionT in question">
						<div class="mui-card">
							<!--页眉，放置标题-->
							<div class="mui-card-header">{{questionT.name}}</div>
							<!--内容区-->
							<div class="mui-card-content">
								<ul class="mui-table-view">
									<li class="mui-table-view-cell mui-media" ng-repeat="select in questionT.questSelect | splitArr"
										ng-class="{'li-red':'{{questionT.answer}}'!='{{questionT.userAnswer}}'&&
										'{{$index | optionsAll}}'=='{{questionT.userAnswer}}',
										'li-green':'{{questionT.answer}}'=='{{questionT.userAnswer}}'&&
										'{{$index | optionsAll}}'=='{{questionT.userAnswer}}','li-green02':'{{$index | optionsAll}}'=='{{questionT.answer}}'}">
										<a href="javascript:;">
											<div class="mui-media-object mui-pull-left">{{$index | optionsAll}}</div>
											<div class="mui-media-body">
												{{select}}
											</div>
										</a>
									</li>
									
								</ul>
							</div>

						</div>
					</div>
					
				</div>

			</div>

		</div>
		<script src="js/mui.min.js"></script>
		<script src="js/myjs/jquery-1.11.1.min.js"></script>
		<script src="js/myjs/jquery.jplayer.min.js"></script>
		<script src="js/myjs/public.js"></script>
		<script src="js/myjs/hearing-answerKeys.js"></script>
		<script src="js/myjs/angular1.3.1.js"></script>
	</body>

</html>