<!doctype html>
<html ng-app="myApp">

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="css/mui.min.css" rel="stylesheet" />
		<link href="css/mycss/public.css" rel="stylesheet" />
		<link href="css/mycss/hearing-quietly.css" rel="stylesheet" />
	</head>

	<body ng-controller="PriceCtrl">
		<header class="mui-bar mui-bar-nav">
			<a href="hearing-way.html" class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left orangeColor"></a>
			<h1 class="mui-title">{{catname}}-{{title}}精听</h1>
			<img src="images/myimages/listenQ_chinese.png" alt="中文翻译图标" class="china_icon02" onclick="showChina()" />
		</header>
		<nav class="mui-bar mui-bar-tab bg-nowhite">
			<!-------------底部播放器------------->
			<div id="jquery_jplayer_1" class="jp-jplayer"></div>
			<div id="jp_container_1" class="jp-audio">
				<div class="playControls">
					<div class="in_player">
						<div class="top_controls">
							<div class="col-xs-2 col-sm-2" style="width: 20%;float: left;">
								<div class="dicta_btn">
									<div class="btn_common full" onclick="toggleSingle(this)">全文</div>
									<div class="btn_common single" onclick="toggleAll(this)">单句</div>
								</div>
								<div class="listen_btn">
									<div class="col-xs-6 col-sm-6" style="width: 50%;float: left;">
										<div class="dictation_icon" onclick="reloadSingle()"></div>
									</div>
									<div class="col-xs-6 col-sm-6" style="width: 50%;float: left;">
										<div class="dictation_eyes" onclick="seeAnswer(this)"></div>
									</div>
									<div class="clearBox"></div>
								</div>
							</div>
							<div class="col-xs-3 col-sm-3 img_w" style="width: 20%;float: left;">
								<img src="images/myimages/listenQ_prev.png" alt="上一句图标" onclick="playPrev()" />
							</div>
							<div class="col-xs-2 col-sm-2" style="width: 20%;float: left;">
								<!--播放按钮-->
								<button class="img_play jp-play"  style="border: none;"></button>
							</div>
							<div class="col-xs-3 col-sm-3 img_w poaPos" style="width: 20%;float: left;">
								<img src="images/myimages/listenQ_next.png" alt="下一句图标" onclick="playNext()" />
								     <!--next提示-->
                                     <div class="nextImg">
                                         <img src="images/myimages/listen_jintnext.png" alt="next"/>
                                     </div>
							</div>
							<div class="col-xs-2 col-sm-2" style="width: 20%;float: left;">
								<div class="btn_common" onclick="listenWrite(this)" id="listen_w">听写</div>
								<div class="btn_common return_dica" onclick="quietly(this)">精听</div>
							</div>
							<div class="mui-clearfix"></div>
						</div>
						<div class="bottom_controls">
							<div class="col-xs-1 col-sm-1" style="width: 10%;float: left;">
								<span class="jp-current-time" role="timer" aria-label="time">00:00</span>
							</div>
							<div class="col-xs-10 col-sm-10" style="width: 80%;float: left;">
								<div class="progress_box jp-progress">
									<div class="progress_bgOut jp-seek-bar">
										<div class="progress_bg jp-play-bar">
											<div class="progress_move"></div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-xs-1 col-sm-1" style="width: 10%;float: left;">
								<span class="jp-duration" role="timer" aria-label="duration">00:00</span>
							</div>
							<div class="mui-clearfix"></div>
						</div>
					</div>
				</div>
			</div>
			<!-------------底部播放器 end------------->
		</nav>
		<div class="mui-content mui-scroll-wrapper">
			<div class="mui-scroll">
				<input type="hidden" id="currentTime" />
				<div ng-controller="PriceCtrl">

					<!-------------单句精听---------------->
					<div class="simpleSentence">
						<h4>第<span id="current-sentence">1</span>/<span id="total-sentence">34</span>句</h4>
						<img src="images/myimages/listenQ_chinese.png" alt="中文翻译图标" class="china_icon" onclick="showChinese()" />
						<ul>
							<li data-num="{{$index+1}}" data-starttime="{{sentenceT.start_time}}" data-endtime="{{sentenceT.endTime}}" ng-repeat="sentenceT in sentence" is-over="toggle.now">
								<p data-wordId="{{sentenceT.id}}">{{sentenceT.content}}</p>
								<p class="chinese">{{sentenceT.cnSentence}}</p>
							</li>
						</ul>
					</div>
					<!------------全文精听------------------>
					<div class="fullText">
						<div class="full_start" onclick="clickShowA(this)">
							<img src="images/myimages/listenQ_clickIcon.png" alt="图片" />
							<p>点击屏幕显示原文</p>
						</div>
						<div class="full_article">
							
							<ul>
								<li data-num="{{$index+1}}" data-starttime="{{sentenceT.start_time}}" data-endtime="{{sentenceT.endTime}}" ng-repeat="sentenceT in sentence">
									<p data-wordId="{{sentenceT.id}}">
										{{sentenceT.content}}
									</p>
									<span>{{sentenceT.cnSentence}}</span>
								</li>

							</ul>
						</div>
					</div>
					<!------------听写------------------>
					<div class="dictation">
						<h4>第<span id="current-sen">1</span>/<span id="total-sen">34</span>句</h4>
						<p>把你所听到的都写下来吧！</p>
						<ul id="dic_ul"></ul>
						<div class="mui-clearfix"></div>
						<div class="saveAnswer">保存答案</div>
						<!--答案-->
						<div class="dicta_answer"></div>
					</div>

				</div>
			</div>
		</div>

		<script src="js/mui.min.js"></script>
		<script src="js/myjs/jquery-1.11.1.min.js"></script>
		<script src="js/myjs/jquery.jplayer.min.js"></script>
		<script src="js/myjs/public.js"></script>
		<script src="js/myjs/hearing-quietly.js"></script>
		<!--angularJs只能放在最后，不然会报错-->
		<script type="text/javascript" src="js/myjs/angular1.3.1.js"></script>
	</body>

</html>