<!doctype html>
<html ng-app="myApp">

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="css/mui.min.css" rel="stylesheet" />
		<link href="css/mycss/public.css" rel="stylesheet" />
		<link href="css/mycss/reading-tpoList.css" rel="stylesheet" />
	</head>

	<body ng-controller="PriceCtrl">
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left orangeColor"></a>
			<h1 class="mui-title">TPO阅读练习</h1>
		</header>
		<div class="mui-content">
			<div class="pop-slide" id="slidePop">
				<div class="slideBd bd">
					<ul>
						<li ng-repeat="tpoT in tpo" ng-show="'{{$index}}'<4" data-sid="{{tpoT.id}}" is-over="toggle.now">

							<a href="readIndex.html?id={{tpoT.id}}">{{tpoT.name}}</a>

						</li>
					</ul>
					<ul>
						<li ng-repeat="tpoT in tpo" ng-show="'{{$index}}'>=4 &&'{{$index}}'<8 " data-sid="{{tpoT.id}}">

							<a href="readIndex.html?id={{tpoT.id}}">{{tpoT.name}}</a>

						</li>
					</ul>
					<ul>
						<li ng-repeat="tpoT in tpo" ng-show="'{{$index}}'>=8 &&'{{$index}}'<12 " data-sid="{{tpoT.id}}">

							<a href="readIndex.html?id={{tpoT.id}}">{{tpoT.name}}</a>

						</li>
					</ul>
					<ul>
						<li ng-repeat="tpoT in tpo" ng-show="'{{$index}}'>=12 &&'{{$index}}'<16 " data-sid="{{tpoT.id}}">

							<a href="readIndex.html?id={{tpoT.id}}">{{tpoT.name}}</a>

						</li>
					</ul>
					<ul>
						<li ng-repeat="tpoT in tpo" ng-show="'{{$index}}'>=16 &&'{{$index}}'<20 " data-sid="{{tpoT.id}}">

							<a href="readIndex.html?id={{tpoT.id}}">{{tpoT.name}}</a>

						</li>
					</ul>
					<ul>
						<li ng-repeat="tpoT in tpo" ng-show="'{{$index}}'>=20 &&'{{$index}}'<24 " data-sid="{{tpoT.id}}">

							<a href="readIndex.html?id={{tpoT.id}}">{{tpoT.name}}</a>

						</li>
					</ul>
					<ul>
						<li ng-repeat="tpoT in tpo" ng-show="'{{$index}}'>=24 &&'{{$index}}'<28 " data-sid="{{tpoT.id}}">

							<a href="readIndex.html?id={{tpoT.id}}">{{tpoT.name}}</a>

						</li>
					</ul>
					<ul>
						<li ng-repeat="tpoT in tpo" ng-show="'{{$index}}'>=28 &&'{{$index}}'<32 " data-sid="{{tpoT.id}}">

							<a href="readIndex.html?id={{tpoT.id}}">{{tpoT.name}}</a>

						</li>
					</ul>
					<ul>
						<li ng-repeat="tpoT in tpo" ng-show="'{{$index}}'>=32 &&'{{$index}}'<36 " data-sid="{{tpoT.id}}">

							<a href="readIndex.html?id={{tpoT.id}}">{{tpoT.name}}</a>

						</li>
					</ul>
					<ul>
						<li ng-repeat="tpoT in tpo" ng-show="'{{$index}}'>=36 &&'{{$index}}'<40 " data-sid="{{tpoT.id}}">

							<a href="readIndex.html?id={{tpoT.id}}">{{tpoT.name}}</a>

						</li>
					</ul>
					<ul>
						<li ng-repeat="tpoT in tpo" ng-show="'{{$index}}'>=40 &&'{{$index}}'<44 " data-sid="{{tpoT.id}}">

							<a href="readIndex.html?id={{tpoT.id}}">{{tpoT.name}}</a>

						</li>
					</ul>
				</div>
			</div>

			<div class="tpo-content" id="tpo-content">
				<ul>
					<li id="1">
						<div class="left-img">
							<a href="#">
								<img src="images/myimages/reading-tpo.png" alt="tpo" />
							</a>
						</div>
						<div class="right-info">
							<h2 id="test">Passage1</h2>
							<p>144人在练习</p>
							<button type="button" class="mui-btn mui-btn-warning orangeBg">GO</button>
						</div>
						<div class="mui-clearfix"></div>
					</li>
					<li id="2">
						<div class="left-img">
							<a href="#">
								<img src="images/myimages/reading-tpo.png" alt="tpo" />
							</a>
						</div>
						<div class="right-info">
							<h2>Passage1</h2>
							<p>144人在练习</p>
							<button type="button" class="mui-btn mui-btn-warning orangeBg">GO</button>
						</div>
						<div class="mui-clearfix"></div>
					</li>
					<li id="3">
						<div class="left-img">
							<a href="#">
								<img src="images/myimages/reading-tpo.png" alt="tpo" />
							</a>
						</div>
						<div class="right-info">
							<h2>Passage1</h2>
							<p>144人在练习</p>
							<button type="button" class="mui-btn mui-btn-warning orangeBg">GO</button>
						</div>
						<div class="mui-clearfix"></div>
					</li>
					<li>
						<div class="left-img">
							<a href="#">
								<img src="images/myimages/reading-tpo.png" alt="tpo" />
							</a>
						</div>
						<div class="right-info">
							<h2>Passage1</h2>
							<p>144人在练习</p>
							<button type="button" class="mui-btn mui-btn-warning orangeBg">GO</button>
						</div>
						<div class="mui-clearfix"></div>
					</li>
					<li>
						<div class="left-img">
							<a href="#">
								<img src="images/myimages/reading-tpo.png" alt="tpo" />
							</a>
						</div>
						<div class="right-info">
							<h2>Passage1</h2>
							<p>144人在练习</p>
							<button type="button" class="mui-btn mui-btn-warning orangeBg">GO</button>
						</div>
						<div class="mui-clearfix"></div>
					</li>           
				</ul>
			</div>
		</div>
		<script src="js/mui.min.js"></script>
		<script src="js/myjs/jquery-1.11.1.min.js"></script>
		<script src="js/myjs/TouchSlide.1.1.js"></script>
		<script src="js/myjs/public.js"></script>
		<script src="js/myjs/reading-tpoList.js"></script>
        <script src="js/myjs/angular1.3.1.js"></script>
	</body>

</html>